.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo {
  height: 300px;
  width: 500px;
}

.logo {
  transition: 2500ms;
  opacity: 1;
}

.logo-hide {
  transition: 2500ms;
  opacity: 0;
}

.paragraph {
  padding: 20px;
}

.button {
  outline: aqua
}

.menu {
  cursor: pointer;
  padding: 20px;
}


@font-face {
  font-family: europa;
  src: url("https://use.typekit.net/fqz5pef.css");
}

/**
@font-face {
  font-family: "new";
  src: url("./fonts/Raleway-Thin.ttf");
}
**/